
<div class="container">
  <div>
    <app-view>All Leaves</app-view>
    <div *ngFor="let log of logs" >
      <ng-container *ngIf="log.isSelected===false">
      
      <p>{{log.festivals}}</p>
      <app-button (click)="shift(log.isSelected)">Floater </app-button>
      <app-button (click)="shift(log.isSelected)" >Planned</app-button>
    </ng-container>
    </div>
    
  </div>

  <div>
    <app-view>Planned
    </app-view>
    <app-button (click)="buttonTriggered($event)" >All </app-button>
    <app-button (click)="buttonTriggered($event)">Floater </app-button>
  </div>
 
  <div>
    <app-view>Floating</app-view>
    <app-button (click)="buttonTriggered($event)">Planned </app-button>
    <app-button (click)="buttonTriggered($event)" >All</app-button>
  </div>

  
</div>
